version: '3'

services:

  nginx:
    image: nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  
  rabbitmq:
    image: 'rabbitmq:3.6-management-alpine'
    hostname: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=mypass
    ports:
      - "15672:15672"
      - "5672:5672"

  securityms:
    build: securityms
    volumes:
      - ./securityms:/app

  gestor-tareas:
    build: ./gestor_tareas/
    volumes:
      - ./gestor_tareas:/app
      - ./Files:/app/Files
    environment:
      FLASK_ENV: development
    depends_on:
      - rabbitmq
  
  converter-worker:
    build: './converter-worker'
    user: nobody
    depends_on:
      - rabbitmq
      - gestor-tareas
    volumes:
      - ./Files:/app/Files
