version: '3'

services:

  nginx:
    image: nginx
    depends_on:
      - securityms
      - gestor-tareas
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  
  rabbitmq:
    image: 'rabbitmq:3.6-management-alpine'
    hostname: '${RABBITMQ_HOSTNAME}'
    environment:
      RABBITMQ_DEFAULT_USER: '${RABBITMQ_DEFAULT_USER}'
      RABBITMQ_DEFAULT_PASS: '${RABBITMQ_DEFAULT_PASS}'
    ports:
      - "15672:15672"
      - "5672:5672"

  securityms:
    build: securityms
    volumes:
      - ./securityms:/app
    env_file:
      - .env

  gestor-tareas:
    build: ./gestor_tareas/
    ports:
      - "5000:5000"
    volumes:
      - ./gestor_tareas:/app
      - ./Files:/app/Files
    env_file:
      - .env
    depends_on:
      - rabbitmq
